body {
  margin: 0;
  padding: 0;
  background: url(/img/bg.jpeg) no-repeat;
  background-size: cover;
  
}

form {
  padding: 2rem;
  margin-top: 5rem;
  }

form.white {
  background-color: rgb(255, 255, 255, 0.45)!important;
}

form button, form h5 {};


.card.z-depth-0.project-summary {
  background-color: rgb(255, 255, 255, 0.45)!important;
}

